@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@100&display=swap');
body{
  text-transform: capitalize;
}
p{
    font-family: Macondo;
    font-size: larger;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}